@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primaryTextColor: #232e35;
  --secondaryTextColor: #656d72;

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9;

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fafafa;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #7e74f1;
  --primaryIconColorHover: #5d51e8;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li,
a {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* Buttom */

.btn-resume {
  padding: 1rem 1.5rem;
  background: white;
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-resume:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* Title */

.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  color: var(--secondaryTextColor);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-size: 0.9rem;
}

.pre-title::before {
  content: " ";
  width: 30px;
  height: 1px;
  background-color: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* grid */

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* Navigation */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.logo a {
  color: var(--primaryTextColor);
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
}

nav ul li a:hover {
  color: var(--primaryIconColorHover);
}

/* Burger */

.burger div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
  cursor: pointer;
}

/* Hero Section */

#hero {
  background-color: var(--primaryBackgroundColor);
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-left {
  position: absolute;
  top: 150px;
  left: 80px;
}

span {
  color: var(--primaryIconColor);
}

.hero-right img {
  width: 330px;
  border-radius: 40%;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 130px;
}

/* About Section */

#about {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.about .pre-title {
  margin: 0 auto;
}

.about-title {
  text-align: center;
}

.box-about {
  padding: 3rem 2rem;
  text-align: center;
  background-color: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
  border: rgba(0, 0, 0, 0.2) solid 0.3px;
}

/* Portofolio Section*/

#portofolio {
  padding: var(--sectionPadding);
}

.portofolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
}

.portofolio-cover {
  height: 250px;
}

.portofolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portofolio-info {
  padding: 2rem 1.5rem;
}

.portofolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portofolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
  margin: 1.5rem 0;
}

/* Skill Section */

#skill {
  padding: var(--sectionPadding);
  background-color: var(--secondaryBackgroundColor);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 1rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background-color: var(--borderColor);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* Dot */

.education .line div::before {
  content: " ";
  width: 15px;
  height: 15px;
  background-color: var(--borderColor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

/* Skill List */

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

/* Contact Sections */

#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.btn-submit:hover {
  background-color: var(--primaryIconColorHover);
}

.contact-item-icon {
  background-color: var(--thirdBackgroundColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.contact-item-details h4 {
  margin-bottom: 0.5rem;
}

/* Footer Section */

footer {
  padding: 4rem 0;
  background-color: var(--secondaryBackgroundColor);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: #3e3f40;
}

.footer-icons svg:hover {
  fill: #000;
}
